* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/* navbar */
.navbar-item:hover {
  background-color: white !important;
}
.navbar-item:focus-within {
  background-color: white !important;
}
.logo__img {
  min-height: 130px;
}
.navmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navmenu-end{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* presentation */
.hero-foot {
  padding-top: 80px;
  margin: auto;
}
#top-projects {
  margin-top: -10px;
}
/* contact */

/* footer */
.social-icons {
  margin: 0 auto 3rem;
}
.social-icons .button {
  margin: 0 12px;
  border-radius: 100%;
}
